@charset "UTF-8";
body,html{
	height:100%;
}
*{margin:0;padding:0;font-size:14px;list-style:none;font-weight:normal;font-style:normal;border:none;box-sizing:border-box;-webkit-tap-highlight-color:rgba(255,255,255,0);
font-family:"PingFang SC", "Microsoft YaHei",STXihei;
}
h1,h2,h3,h4,h5,h6{font-size:100%}
img{vertical-align:middle}
a,a:focus,input:focus,select:focus{outline:none}
input,select,textarea,button{outline: none;}
a,a:hover,a:active,a:visited{text-decoration:none}
body{-webkit-text-size-adjust:none;}
.fl{float:left}
.fr{float:right}
.show{display: block !important;}
select{ 
	-webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background:transparent url('../img/select.png') right center no-repeat;
    border:none;
    padding-right:6px;
    background-origin: content-box;
}
.clear:after{
	display:block;
	clear:both;
	content:"";
	visibility:hidden;
	height:0
} 
.clear{
	zoom:1;
}
.fl{float:left}
.fr{float:right}
#nav{
	width:100%;
	padding:32px;
	position: absolute;
	z-index: 10;
}
#nav h1{
	margin-top:-6px;
}
#nav li{
	width:80px;
	float:left;
	margin:0 16px;
}
#nav li a{
	display: block;
	width:100%;
	height:34px;
	font-size:16px;
	color:rgba(255,255,255,0.6);
	text-align: center;
	line-height: 34px;
	font-family: 'PingFangSC-Light',Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", STXihei, "Microsoft YaHei", SimHei, "WenQuanYi Micro Hei";
	font-weight: lighter;
}
#nav li.nav-clicked a{
	color:#fff;
	font-weight: bold;
}
.inner p{
	padding:20px 0;
	font-family: 'PingFangSC-Light',Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", STXihei, "Microsoft YaHei", SimHei, "WenQuanYi Micro Hei";
	font-weight: lighter;
}
.abouts{
	width:100%;
	position: relative;
}
.btns{
	width:100%;
	text-align: center;
}
.btns button{
	width:240px;
	height:68px;
	border-radius: 32px;
	color:#fff;
	margin: 0 16px;
	font-size: 20px;
	font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", STXihei, "Microsoft YaHei", SimHei, "WenQuanYi Micro Hei";
}
.btns .download{
	background: #3ac57e;
}
.btns .download:hover{
	background: #32aa6d;
}
.btns .download:active{
	background: #2c8e5c;
}
.btns .focus{
	background: none;
	border: 1px solid #fff;
}
.btns .focus:hover{
	color:#666a71 !important;
	background: #ececec;
}
.btns .focus:active{
	color:#666a71 !important;
	background: #dcdcdc;
}
.abimg{
	width:200px;
	height:200px;
	margin:50px auto 0;
	overflow: hidden;
}
.abimg img{
	display: block;
	width:100%;
	display: none;
}
#advantage,#service,#cartype,#contact,#model,#jiabei,#city,#business{
	width:100%;
	padding:40px 0 50px;
}
#advantage h1,#service h1,#about h1,#cartype h1,#contact h1,#model h1,#jiabei h1,#city h1,#business h1{
	font-size:48px;
	color:#0c1218;
	padding:16px 0;
	text-align: center;
	margin-bottom: 0;
}
#advantage h2,#service h2,#cartype h2,#business h2{
	color:#595a5b;
	font-size:18px;
	padding:10px;
	text-align: center;
	font-weight: normal;
	font-family: 'PingFangSC-Light',Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", STXihei, "Microsoft YaHei", SimHei, "WenQuanYi Micro Hei";
}
.adv-cont{
	/*width:1200px;*/
	width:80%;
	margin:30px auto 0;
	display: flex;
	justify-content: space-between;
}
.adv-cont dt{
	width:200px;
	height:200px;
	margin:0 auto 20px;
}
.adv-cont dt img{
	display: block;
	width:90%;
	margin:5% auto 0;
}
.adv-cont dd{
	text-align: center;
	font-family: 'PingFangSC-Light',Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", STXihei, "Microsoft YaHei", SimHei, "WenQuanYi Micro Hei";
	font-size:16px;
}
#business .adv-cont dt{
	width:120px;
	height:120px;
	margin:10px auto 40px;
}
.dd-title{
	font-size:16px;
	padding:0 0 8px;
	color:#595a5b;
	font-weight: bold;
}
.dd-cont{
	font-size:12px;
	color:#8f8f90;
	line-height: 20px;
}
#process{
	width:100%;
	padding:60px;
	background: url(../img/probg1.jpg) no-repeat top center;
	background-size: 100% 100%;
}
.pro-cont{
	/*width:1200px;*/
	width:80%;
	padding: 50px 20px;
	margin:0 auto;
	position: relative;
}
.pro-cont h1{
	font-size:48px;
	padding:16px 0 50px;
}
.pro-cont ul{
	margin-left: -34px;
}
.pro-cont li{
	width:82px;
	height:82px;
	padding:20px 20px;
	background: #fff;
	font-size:16px;
	line-height: 22px;
	color:#5a5e66;
	cursor: pointer;
	border-radius: 50%;
	float: left;
	margin:16px 30px;
	position: relative;
	font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", STXihei, "Microsoft YaHei", SimHei, "WenQuanYi Micro Hei";
	text-align: center;
}
.pro-cont li:after{
	display: block;
	content:"";
	width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 16px solid #fff;
    border-bottom: 8px solid transparent;
    position: absolute;
    right:-38px;
    top:32px;
}
.pro-cont li:last-child:after{
	display: none;
}
.pro-cont .steped{
	background: #3ac57e;
	color:#fff;
}
.pro-cont li:hover{
	border: 1px solid #3ac57e;
	color:#3ac57e;
}
.pro-cont .steped:hover{
	border:0;
	color:#fff;
}
.ewm dl{
	width:220px;
	float: left;
	margin-right: 100px;
}
.ewm dt{
	width:220px;
	height:220px;
	padding:50px 30px 10px;
}
.ewm dt img{
	display: block;
	width:160px;
	height:160px;
}
.ewm dd{
	text-align: center;
	font-size:16px;
	color:#fff;
	padding: 14px 0 30px;
	font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", STXihei, "Microsoft YaHei", SimHei, "WenQuanYi Micro Hei";
}
.change{
	width:400px;
	height:610px;
	position: absolute;
	right:60px;
	bottom: -60px;
	overflow: hidden;
}
.change img{ 
	display: block;
	width:100%;
	display: none;
}
#service{
	background: #f4f3f3;
}
.ser-cont{
	/*width:1200px;*/
	width:80%;
	margin:0 auto;
}
.ser-cont dl{
	margin:60px 0;
	width:100%;
	/*height:360px;*/
	background: #fff;
}
.ser-cont dt{
	/*width:520px;*/
	width:40%;
	/*height:360px;*/
}
.ser-cont dt img{
	display: block;
	width:100%;
}
.ser-cont dd{
	/*width:680px;*/
	width:60%;
	margin-left: 0;
}
.ser-cont dd h3{
	width:180px;
	padding:10px 10px 10px 40px;
	margin:30px 0 20px;
	background: #59856f;
	border-bottom-right-radius: 6px;
	border-top-right-radius: 6px;
}
.ser-cont dd p{
	padding:0 26px;
	color:#595a5b;
	font-size:16px;
	line-height: 26px;
	margin-bottom: 0;
	font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", STXihei, "Microsoft YaHei", SimHei, "WenQuanYi Micro Hei";
}
.ser-cont dd h4{
	font-size:14px;
	color:#333;
	padding:10px 26px;
	margin:0;
}
.ser-cont dd .clear{
	padding: 12px 20px 24px;
}
.ser-cont dd .clear div{
	width:200px;
	float: left;
	overflow: hidden;
}
.ser-cont dd .clear div:last-child{
	width:226px;
}
.ser-cont dd .clear div label{
	width:auto;
	font-size:14px;
	line-height: 40px;
	color:#595a5b;
	text-align: right;
	padding-right: 8px;
	float: left;
}
.ser-cont dd .clear div select{
	width:120px;
	height:38px;
	padding-left:10px;
	border:1px solid #d8dce5;
	border-radius: 6px;
	color:#595a5b;
	font-size:14px;
	float: left;
}
.ser-cont dd .clear div .time{
	width:120px;
	height:38px;
	padding:0 6px 0 10px;
	border:1px solid #d8dce5;
	border-radius: 6px;
	color:#595a5b;
	position: relative;
}
.ser-cont dd .clear div .time input{
	width:100px;
	border:none;
	height:38px;
	line-height: 38px;
	color:#595a5b;
	font-size:14px;
}
.layText{
	width:16px;
	height:16px;
	position: absolute;
	right:6px;
	top:11px;
}
.price{
	padding:0 26px;
}
.price button{
	width:200px;
	height:48px;
	font-size:20px;
	line-height: 48px;
	background: #fff;
	border:1px solid #4ecb8b;
	color:#4ecb8b !important;
	border-radius: 24px;
	margin-right: 20px;
}
.price span{
	display: inline-block;
	padding:0 16px;
	border-left: 1px solid #d8dce5;
	color:#ff9119;
}
.price span b{
	font-size:28px;
	color:#ff9119;
}
.price .appoint{
	background: #4ecb8b;
	color:#fff !important;
	margin-top:70px;
}
#layer,#layer2{
	width:700px;
	padding:46px 26px 26px;
	background: #fff;
	border-radius: 8px;
	position: fixed;
	left:50%;
	top:50%;
	margin-left:-350px;
	margin-top:-172px;
	z-index: 999;
	overflow: hidden;
	display: none;
}
#layer .close,#layer2 .close{
	width:20px;
	height:20px;
	position: absolute;
	top:20px;
	right:20px;
	cursor: pointer;
}
#mask{
	content: '';
	display: block;
	width:100%;
	height:100%;
	position: fixed;
	left:0;
	top:0;
	background: rgba(0,0,0,0.6);
	z-index: 998;
	display: none;
}
#layer h3,#layer2 h3{
	font-size:24px;
	color:#333333;
	text-align: center;
	margin:0;
}
#layer p,#layer2 p{
	padding: 14px 30px;
	font-size:16px;
	text-align: center;
	color:#bcc0c6;
	margin:0;
	line-height: 22px;
}

.infor input{
	width:44%;
	float:left;
	margin:30px 2% 20px;
	background: #fff;
	font-size:16px;
	padding-left:16px;
	height: 42px;
	border:1px solid #d8dce5;
	border-radius: 6px;
	font-family: 'PingFangSC-Light',Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", STXihei, "Microsoft YaHei", SimHei, "WenQuanYi Micro Hei";
}
#layer button{
	width:200px;
	height:44px;
	background: #4ecb8b;
	border-radius: 22px;
	font-size:20px;
	line-height: 44px;
	display: block;
	margin:30px auto;
}
#layer .tjiao{
	width:200px;
	height:44px;
	background: #4ecb8b;
	border-radius: 22px;
	font-size:20px;
	line-height: 44px;
	display: block;
	margin:30px auto;
	text-align: center;
	color: #fff;
}
.appewm{
	width:160px;
	height:160px;
	margin:30px auto;
}
.appewm img{
	display: block;
	width:100%;
}
/*------轮播图----------*/
.Box_con {
	/*width:90%;*/
	width:100%;
	position: relative;
	/*margin: 30px 5%;*/
	padding: 30px 60px;
	overflow: hidden;
}
.Box_con .btnl {position: absolute;}
.Box_con .btn {display: block;width: 50px;height: 100px;position: absolute;top: 80px;cursor: pointer;}
.Box_con .btnl {
	background: url(../img/jtl.png) no-repeat center;
	/*left: -72px;*/
	left: -10px;
	background-size:100% 100%;
}
.Box_con .btnr {
	background: url(../img/jtr.png) no-repeat center;
	/*right: -72px;*/
	right: -5px;
	background-size:100% 100%;
}
.Box_con .btnl:hover {background: url(../img/jtl02.png) no-repeat center;background-size:100% 100%;}
.Box_con .btnr:hover {background: url(../img/jtr02.png) no-repeat center;background-size:100% 100%;}
.Box_con .btnl:active {background: url(../img/jtl03.png) no-repeat center;background-size:100% 100%;}
.Box_con .btnr:active {background: url(../img/jtr03.png) no-repeat center;background-size:100% 100%;}
.Box_con .conbox {position: relative;overflow: hidden;}
.Box_con .conbox ul {position: relative;list-style: none;}
.Box_con .conbox ul li {float: left;width: 320px;height: 280px;margin-left: 20px;overflow: hidden;}
.Box_con .conbox ul li:first-child {margin-left: 0;}
.Box_con .conbox ul li img {display: block;width: 320px;height: 280px;transition: all 0.5s;}
.Box_con .conbox ul li:hover img {transform: scale(1.1);}

#about{
	width:100%;
	padding:80px 0 90px;
	background: url(../img/about.jpg) no-repeat top center;
	background-size: 100% 100%;
}
#about h1{
	padding:26px 0;
	color: #fff !important;
}
#about p{
	width:800px;
	margin:10px auto 30px;
	color:#fff;
	font-size:20px;
	line-height: 40px;
	text-align: center;
	font-family: 'PingFangSC-Light',Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", STXihei, "Microsoft YaHei", SimHei, "WenQuanYi Micro Hei";
	font-weight: lighter;
}
#about a{
	display: block;
	width:400px;
	height:80px;
	font-size:20px;
	text-align: center;
	line-height: 80px;
	border-radius: 40px;
	border: 1px solid #fff;
	background: none;
	margin: 30px auto;
	font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", STXihei, "Microsoft YaHei", SimHei, "WenQuanYi Micro Hei";
}
#about a:hover{
	color:#666a71 !important;
	background: #ececec;
}
#business>a{
	display: block;
	width:400px;
	height:80px;
	font-size:20px;
	text-align: center;
	line-height: 80px;
	border-radius: 40px;
	border: 1px solid #3ac57e;
	color:#3ac57e;
	background: none;
	margin: 60px auto 20px;
	font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", STXihei, "Microsoft YaHei", SimHei, "WenQuanYi Micro Hei";
}
#business>a:hover{
	background: #3ac57e;
	color: #fff;
}
.ways{
	/*width:1200px;*/
	width:80%;
	margin:40px auto 30px;
}
.ways dl{
	/*width:400px;*/
	width:33%;
	float:left;
	border-right: 1px solid #d8dce5;
}
.ways dl:last-child{
	border-right: 0;
}
.ways dt{
	width:80px;
	height:80px;
	margin:20px auto;
}
.ways dt img{
	display: block;
	width:100%;
}
.ways dd{
	text-align: center;
	font-size:16px;
	font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", STXihei, "Microsoft YaHei", SimHei, "WenQuanYi Micro Hei";
}
.ways dd.w-title{
	color:#adb1b9;
}
.ways dd.w-cont{
	color:#5a5e66;
	padding:20px 0;
}
.map{
	/*width:1200px;*/
	width:80%;
	height:400px;
	position: relative;
	margin:0 auto;
}
#container{
	width:100%;
}
#footer{
	width:100%;
	padding:50px 0 110px;
	background: #1e2832;
}
.foot{
	/*width:1200px;*/
	width:80%;
	margin:0 auto;
}
.foot-top{
	width:100%;
}
.foot-top dl{
	/*width:160px;*/
	width:20%;
	float: left;
	/*margin-right: 100px;*/
	text-align: left;
}
.foot-top dl:last-child{
	margin-right:0;
}
.foot-top dt{
	padding: 16px 0 22px;
	font-size:20px;
	font-weight: bold;
	color:#a5a9ad;
}
.foot-top dd{
	font-size:16px;
	line-height: 34px;
	color:#fff;
}
.foot-top dd a{
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    color: rgba(255, 255, 255, 0.75);
    font-size:16px;
    font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", STXihei, "Microsoft YaHei", SimHei, "WenQuanYi Micro Hei";
}
.foot-bot{
	width:100%;
	position: relative;
}
.foot-bot .weixin{
	width:160px;
	height:160px;
	position: absolute;
	left:50%;
	top:0;
	margin-left:-80px;
	margin-top:-160px;
	display: none;
}
.foot-bot .weixin img{
	display: block;
	width:100%;
}
.foot-bot ul{
	width:300px;
	margin:30px auto;
}
.foot-bot li{
	width:40px;
	float:left;
	margin:0 30px;
}
.foot-bot li a{
	display: block;
}
.foot-bot li a img{
	display: block;
	width:100%;
}
.foot-bot h5{
	font-size:14px;
	padding:10px 0;
	color:#fff;
	text-align: center;
	font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", STXihei, "Microsoft YaHei", SimHei, "WenQuanYi Micro Hei";
}
.foot-bot p{
	font-size:12px;
	color:#a5a9ad;
	text-align: center;
	font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", STXihei, "Microsoft YaHei", SimHei, "WenQuanYi Micro Hei";
}
#bottom{
	width:100%;
	padding:26px 0;
	background: #3ac57e;
	position: fixed;
	left:0;
	bottom: 0;
	z-index: 997;
}
.regist{
	width:1000px;
	margin:0 auto;
}
.regist h4{
	float:left;
	font-size:22px;
}

.re-form{
	float:left;
	margin:0 0 0 50px;
}
.re-form input{
	padding-left:16px;
	border-radius: 6px;
	height:36px;
	font-size:14px;
	border:none;
}
.re-form>input{
	width:220px;
	float:left;
}
.re-form>div{
	width:220px;
	height:36px;
	background: #fff;
	border-radius: 6px;
	float:left;
	margin:0 0 0 20px;
	position: relative;
}
.re-form>div .re-verity{
	width:120px;
}
.re-form>div .getVerity{
	font-size:12px;
	padding:0 10px;
	border:0;
	border-left: 1px solid #d8dce5;
	color:#3ac57e !important;
	background: #fff;
	line-height: 26px;
	border-radius: 0;
	height:26px;
}
.re-form button{
	background:#167846;
	margin-left:20px;
	box-shadow: 0 0 4px #fff;
	float: left;
}
.re-form button:hover{
	background: #115733;
}
.re-form button:active{
	background: #0b3620;
}
/*----------商务合作----------*/
#bann{
	width:100%;
	position: relative;
}
#bann img{
	display: block;
	width:100%;
}
#bann h1{
	width:500px;
	height:200px;
	color:#fff;
	font-size: 80px;
	text-align: center;
	line-height: 200px;
	position: absolute;
	left:50%;
	top:50%;
	margin-left:-250px;
	margin-top:-100px;
	letter-spacing: 10px;
}
.m-table{
	/*width:1200px;*/
	width:80%;
	margin:30px auto;
}
.m-table table{
	width:100%;
}
.m-table tr{
	height:80px;
	font-size:16px;
	color:#878d99;
}
.m-table th{
	color:#fff;
	background: #3AC57E;
	font-size:18px;
	text-align: center;
}
.m-table td{
	text-align: center;
	background: #fff;
	font-size:16px;
	font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", STXihei, "Microsoft YaHei", SimHei, "WenQuanYi Micro Hei";
}
.m-table .anthor{
	border-top:1px solid #d8dce5;
	border-bottom:1px solid #d8dce5;
}
.m-table .anthor td{
	background: #f4f3f3;
}
#ban{
	width:100%;
}
#ban img{
	display: block;
	width:100%;
}
#jiabei p{
	width:900px;
	margin:20px auto 40px;
	font-size:16px;
	line-height: 32px;
	color:#a8aaae;
	text-align: justify;
	font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", STXihei, "Microsoft YaHei", SimHei, "WenQuanYi Micro Hei";
}
#city{
	background: #f4f3f3;
}
#city h2{
	text-align: center;
	font-size:18px;
	color:#5a5e66;
	height: 80px;
	line-height: 80px;
	font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", STXihei, "Microsoft YaHei", SimHei, "WenQuanYi Micro Hei";
}

#city h2 span{
	display: inline-block;
	width:80px;
	height:80px;
	border-radius: 40px;
	background: #3ac57e;
	font-size:30px;
	color:#fff;
	text-align: center;
	line-height: 80px;
	margin:0 10px;
}
.citymap{
	width:820px;
	margin:20px auto;
}
.citymap img{
	display: block;
	width:100%;
}
#support{
	width:100%;
	padding:50px 0;
}
.instruction{
	/*width:1200px;*/
	width:80%;
	margin:0 auto;
}
.ins-nav{
	width:180px;
	padding:6px 16px;
	border:1px solid #D8DCE5;
	position: relative;
}
.ins-nav dl{
	border-bottom: 1px solid #D8DCE5;
}
.ins-nav dl:last-child{
	border-bottom:0;
}
.ins-nav dt{
	font-size:18px;
	color:#b3bccc;
	padding: 22px 0;
}
.ins-nav dd{
	font-size:16px;
	padding-bottom: 20px;
}
.ins-nav dd a{
	color:#5a5e66;
	font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", STXihei, "Microsoft YaHei", SimHei, "WenQuanYi Micro Hei";
	font-size:16px;
}
.ins-nav dd a.aclicked{
	color:#3ac57e;
}
.ins-nav .ins-cont{
	width:960px;
	display: none;
    position: absolute;
    left:240px;
    top:0px;
    padding-bottom: 40px;
}
.ins-cont>div h3{
	color:#878d99;
	font-size:16px;
	font-weight: bold;
	padding:16px 0;
}
.ins-cont>div p{
	font-size:16px;
	color:#878d99;
	line-height: 36px;
	letter-spacing: 1px;
	font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", STXihei, "Microsoft YaHei", SimHei, "WenQuanYi Micro Hei";
}
.ins-cont div h4{
	font-size:18px;
	font-weight: bold;
	color:#333;
	text-align: center;
	padding:10px 0 16px;
}
.ins-cont div table{
	width:100%;
	color:#333;
	border:1px solid #dcdcdc;
	margin:10px 0;
}
.ins-cont div td,.ins-cont div th{
	font-size:16px;
	border:1px solid #dcdcdc;
	height:40px;
	text-align: center;
	padding:10px;
	font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", STXihei, "Microsoft YaHei", SimHei, "WenQuanYi Micro Hei";
}
.ins-cont div .item{
	width:160px;
}
#toastMessage{
	width:360px;
	padding:16px 10px;
	font-size:22px;
	background: rgba(0,0,0,0.6);
	background: #3AC57E;
	color:#fff;
	border-radius: 8px;
	z-index: 990;
	text-align: center;
	line-height: 50px;
	position: fixed;
	top:60%;
	left:50%;
	margin-left:-180px;
	display: none;
}
#toastMessage span{
	font-size:22px;
}
.backtop{
	width:60px;
	height:60px;
	position: fixed;
	right:140px;
	bottom: 140px;
	cursor: pointer;
	display: none;
}
.backtop img{
	display: block;
	width:100%;
}